{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="form-group mt-2 col-6">
        {% for message in app.flashes('success') %}
            <div class="alert alert-dismissible alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <form method="post" enctype="multipart/form-data" action="{{ path('import_action') }}">
        <div class="form-group  mt-2 col-6">
            <input class="form-control" required type="file" name="xml_file">
        </div>
        <div class="form-group mt-2">
            <input class="btn btn-primary" type="submit" name="btn_import" value="Importer">
        </div>
    </form>
{% endblock %}
